body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}


/* start position: flex */
.vk {
    position: fixed;
    right: 0;
    top: 50%;
    z-index: 9999;
    background-color: white;
    width: 48px;
    height: 48px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.5) 4px 6px 6px;
    transition: background-color 0.4s ease-in-out;
}

.vk img {
    margin: 17.5px 12.5px;
}

.inst {
    position: fixed;
    right: 0;
    top: 56%;
    z-index: 9999;
    background-color: white;
    width: 48px;
    height: 48px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.5) 4px 6px 6px;
    transition: background-color 0.4s ease-in-out;
}

.inst img {
    margin: 14px;
}

/* end position: flex */
/* start main-section */
#main-section {
    display: flex;
    height: 960px;
    background-image: url(img/3940649684099510_3232.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -2;
}

#trapezoid1 {
    border-top: 960px solid #C51D38;
    border-right: 548px solid transparent;
    width: 50%;
}

#trapezoid2 {
    border-bottom: 960px solid #C51D38;
    border-left: 548px solid transparent;
    width: 50%;
}

#main-section-content {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 960px;
    z-index: 8;
}

#top-menu {
    width: 1170px;
    margin: auto;
    padding-top: 52px;
}

.top-menu-link {
    display: inline;
    list-style: none;
    position: absolute;
    margin-top: 45px;
}

.top-menu-link li {
    display: inline;
    margin: 0 20px 0 20px;
}

.top-menu-link li a {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
}

.top-menu-address {
    display: inline-block;
    list-style: none;
    float: right;
    margin-top: 14px;
}

.top-menu-address li p {
    color: #fff;
    float: right;
    font-size: 14px;
    margin-bottom: 0;
}

#slider-control {
    height: 200px;
    width: 1170px;
    margin: auto;
}

#control {
    display: inline;
    float: right;
    margin-top: 100px;
}

#control li {
    display: inline;
    margin-left: 24px;
}

#control li a {
    text-decoration: none;
    color: white;
    border: 1px solid;
    padding: 15px 20px;
    border-radius: 30px;
}

#nextEl {
    background-color: rgb(255 255 255 / 50%);
}

#slider-text {
    height: 300px;
    width: 1170px;
    margin: auto;
}

#slider-text p {
    font-size: 70px;
    font-weight: bold;
    color: #fff;
    margin: 0 0 80px 0;
}

#st-button {
    border: 2px solid #FFFFFF;
    border-radius: 23px;
    opacity: 0.7;
    padding: 15px 30px;
    text-decoration: none;
    transition: color 0.4s cubic-bezier(0.18, 0.89, 0.32, 1.28),
        background-color 0.4s ease-in-out;
}

#st-button span {
    color: #fff;
    font-size: 12px;
    opacity: 1;
}

#slider-num {
    width: 1170px;
    margin: auto;
    height: 21px;
}

#slider-num span {
    color: white;
    font-size: 18px;
    float: right;
    margin-right: 130px;
}

#slider-image {
    width: 568px;
    margin-right: 0;
    margin-left: auto;
    height: 100px;
    margin-top: 48px;
    font-size: 0;
    overflow: hidden;
}

.si-item {
    display: inline-block;
    width: 171px;
    height: 100px;
    margin-left: 18px;
    float: left;
    transition: 0.25s all cubic-bezier(0.55, 0.085, 0.68, 0.53);
}

.active {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100% !important;
    width: 100% !important;
    z-index: -2;
    margin-left: 0 !important;
}

.five {
    background-color: rgb(67, 0, 155);
}

.four {
    background-image: url(img/3940649684099510_3232.png);
}

.three {
    background-color: rgb(244, 248, 9);
}

.two {
    background-color: rgb(0, 4, 255);
}

.one {
    background-color: rgb(230, 132, 132);
}

/* end main-section */
/* start partners-section */
#partners-section {
    height: 228px;
    background-color: #ffffff;
}

.ps-wrapper {
    margin: auto;
    max-width: 1435px;
    padding-top: 30px;
}

button {
    border: 0;
    background: white;
    /* border-radius: 100%; */
}

.carousel {
    position: relative;
    padding: 40px 40px;
}

.carousel img {
    display: block;
    width: auto;
}

.arrow {
    position: absolute;
    top: 60px;
    padding: 0;
    display: block;
    padding: 18px 20px;
    border: 1px solid #E2E2E2;
    border-radius: 30px;
    background: none;
}

.arrow:focus {
    outline: none;
}

.arrow:hover {
    cursor: pointer;
}

.prev {
    left: 0px;
}

.next {
    right: 0px;
}

.gallery {
    overflow: hidden;
}

.gallery ul {
    height: 130px;
    width: 9999px;
    margin: 0;
    padding: 0;
    list-style: none;
    /* transition: margin-left 250ms; */
    font-size: 0;
    transition: 1s all cubic-bezier(0.65, 0.05, 0.36, 1);
}

.gallery li {
    display: inline-block;
    margin: 0 37px 0 37px;
    vertical-align: middle;
}

/* end partners-section */
/* start shares-section */
#shares-section {
    background-color: #F8F7F7;
    padding-top: 88px;
}

.shares-section-wrapper {
    max-width: 1170px;
    /* background-color: chartreuse; */
    margin: auto;
    padding-bottom: 100px;
}

.shares-section-wrapper h1 {
    font-size: 40px;
    text-align: center;
    margin: 0;
    left: 45%;
    position: relative;
    display: inline-block;
}

.shares-top {
    position: relative;
    width: 100%;
}

.arrow-shares {
    margin-left: 24px;
    position: absolute;
    display: inline-block;
    padding: 15px 20px;
    border: 1px solid #E2E2E2;
    border-radius: 30px;
    background: none;
}

.arrow-shares:focus {
    outline: none;
}

.arrow-shares:hover {
    cursor: pointer;
}

.prev-share {
    right: 85px;
}

.next-share {
    right: 0;
}

.shares-wrapper {
    width: 100%;
    margin-top: 56px;
    overflow: hidden;
}

.shares {
    height: 370px;
    width: 9999px;
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 0;
    transition: 1s all cubic-bezier(0.65, 0.05, 0.36, 1);

}

.shares li {
    display: inline-block;
    margin: 0 5px;
    background-color: #fff;
    width: 285px;
    vertical-align: top;
    padding: 24px;
    box-sizing: border-box;
}

.shares li h2 {
    font-size: 18px;
    margin: 0;
    height: 60px;
    font-weight: normal;
}

.shares li:first-child {
    margin-left: 0;
}

.share-bottom {
    height: 61px;
    margin-top: 16px;
}

.share-bottom {
    font-size: 16px;
}

.shares li a {
    float: left;
    color: #BEBEBE;
    text-decoration: none;
}

.shares-logo {
    float: right;
}

.share-link {
    padding-top: 30px;
    display: inline-block;
}

.capsule {
    border: 2px solid red;
    /* display: inline-block; */
    border-radius: 30px;
    width: 132px;
    height: 45px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    transition: color 0.4s cubic-bezier(0.18, 0.89, 0.32, 1.28),
        background-color 0.4s ease-in-out;
}

.capsule p {
    text-align: center;
    font-size: 12px;
    margin-top: 16px;
    color: red;

}

/* end shares-section */
/* start feedback-section */
#feedback-section {
    height: 324px;
    background-color: #C51D38;
}

#feedback-content {
    padding-top: 100px;
    width: 1200px;
    margin: auto;
    height: 124px;
    font-size: 0;
}

.fc-item {
    width: 270px;
    height: 124px;
    background-color: #df4962;
    border-radius: 5px;
    margin: 0 15px;
    display: inline-block;
    transition: 0.25s all cubic-bezier(0.55, 0.085, 0.68, 0.53);
}

.fc-item span {
    margin: 70px 0 0 32px;
    color: #fff;
    font-size: 18px;
    display: inline-block;
}

.fc-item img {
    margin-right: 32px;
    float: right;
    margin-top: 62px;
}

/* end feedback-section */
/* start footer-section */
#footer-section {
    /* height: 348px; */
    background-color: #DBDBDB;
    padding-top: 100px;
}

.footer-content {
    width: 1170px;
    /* background-color: tomato; */
    height: 100%;
    margin: auto;
}

.footer-content-top {
    font-size: 0;
    margin-bottom: 86px;
    text-align-last: justify;
}

.footer-content-top img {
    display: inline-block;
}

.footer-content-top ul {
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    text-align-last: auto;
    padding: 0;
}

.footer-link li {
    display: inline-block;
    margin: 0 35px 13px;
}

.footer-link li a {
    color: #818181;
    text-decoration: none;
}

.info {
    vertical-align: top;
    list-style: none;
    color: #818181;
}

.info li {
    margin-bottom: 13px;
}

.footer-content-bottom {
    height: 76px;
}

.footer-content-bottom ul {
    text-align-last: justify;
    padding: 0;
    margin-top: 27px;
}

.footer-content-bottom ul li {
    display: inline-block;
}

.footer-content-bottom a {
    text-decoration: none;
    color: #818181;
    opacity: 50%;
}

.line {
    border-bottom: 1px solid #818181;
    opacity: 50%;
}

/* end footer-section */